<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>

    <div class="container">
      <div class="row">
        <% let collapseNum = 1; %>
        <% data.forEach((review, i) => { %>
          <%- include("../partials/review", { review: review, index: collapseNum}) %>
          <% if (i%4 === 3) { %>
            <div
              class="collapse w-100 mx-3 mb-4"
              aria-labelledby="dLabel"
              id="commentCollapse<%= collapseNum %>"
            ></div>
            <% collapseNum++ %>
          <% } %>
        <% }) %>
      </div>
    </div>

    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <!-- load comment partial for corresponding review -->
    <script>
      $(".btn").on("click", function(event) {
        // event.preventDefault();
        $(this)
          .closest(".col-3")
          .siblings(".collapse" + $(this).data("target"))
          .load("reviews/comment/" + $(this).data("review"));
      });
    </script>
  </body>
</html>
