<div class="col-3 d-flex align-items-stretch">
  <div class="card mb-2" data-review="<%= review._id %>">
    <a href="<%= review.link %>">
      <img src="<%= review.album.cover %>" alt="" class="card-img-top" />
    </a>
    <div class="card-header">
      <h3 class="card-title text-center">
        <a href="<%= review.link %>">
          <%= review.album.title %>
        </a>
      </h2>
      <h6 class="card-subtitle text-center">
        by <%= review.album.artist %>
      </h6>
    </div>
    <div class="card-body">
      <h6 class="card-title text-muted">
        <%= review.author %>
      </h6>
      <p class="card-text">
        "
        <%= review.text %>
        "
      </p>
      <button class="btn btn-outline-dark" type="button" data-review="<%= review._id %>" data-toggle="collapse" data-target="#commentCollapse<%= index %>" aria-expanded="false" aria-controls="commentCollapse<%= index %>">
          Comments
      </button>
      <div class="collapse" aria-labelledby="dLabel" id="commentCollapse<%= index %>"></div>
    </div>
  </div>
</div>